{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customers list</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Is young driver</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{% if customer.birthDate %}{{ customer.birthDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if customer.isYoungDriver %}Yes{% else %}No{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
