{% extends 'base.html.twig' %}

{% block body %}
    <h1>Supplier list</h1>

    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>number of parts</th>
        </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.numberParts }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
