{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cars list</h1>

    <table border="1">
        <thead>
        <tr>
            <th>make</th>
            <th>model</th>
            <th>distance</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.travelledDistance }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
